.home-container {
  padding: 150px 0;
}

.home-title {
  font-family: "PacificoRegular";
  font-size: 5em;
}
.home-picture {
  max-width: 600px;
}

.home-paragraph {
  margin-top: 30px;
}

.link {
  color: #639ea6;
}

@media screen and (max-width: 750px) {
  .home-picture {
    width: 740px;
  }
}

@media screen and (max-width: 650px) {
  .home-picture {
    width: 550px;
  }
}

@media screen and (max-width: 550px) {
  .home-picture {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .home-picture {
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .home-picture {
    width: 240px;
  }
}
